Print Formatting with strings Lecture 18

In [1]:
my_name = 'Deepak'

In [4]:
print ('Hello ' + my_name)     # this is known as string interpolation ( injecting variables in strings)

Hello Deepak

Formatting with .format method syntax is
'String here {} then also {}.format ( 'something1' , 'something2')

In [7]:
print ('This is a string {}'.format ( 'and it is immutable'))

This is a string and it is immutable

In [8]:
print (' The {} {} {}'.format( 'fox' , 'brown', 'quick'))

 The fox brown quick

In [10]:
print (' The {2} {1} {0}'.format( 'fox' , 'brown', 'quick')) # format string with index

 The quick brown fox

In [13]:
print (' The {q} {b} {f}'.format( f= 'fox' , b = 'brown', q= 'quick')) # format string using kewords instead of index

 The quick brown fox

In [14]:
print (' The {f} {f} {f}'.format( f= 'fox' , b = 'brown', q= 'quick'))

 The fox fox fox

    Float Formatting follows "{ value:width.precision f } "

In [15]:
result = 100/777

In [16]:
result

0.1287001287001287

In [17]:
print ( "The Result was {r}".format(r=result))

The Result was 0.1287001287001287

In [19]:
print ( "The Result is {r:1.4f}".format(r=result))

The Result is 0.1287

In [20]:
print ( "The Result is {r:10.4f}".format(r=result)) # with increased width

The Result is     0.1287

In [21]:
name = 'Deepak'

In [23]:
print(f'Hello his name is {name}')

Hello his name is Deepak

In [25]:
name ='Deepak'
age = 26

In [27]:
print (f' {name} is {age} year old')

 Deepak is 26 year old

Lists In python Lecture 20

In [28]:
my_list = [1,2,3]

In [29]:
my_list = ['String', 100,23.2]

In [30]:
len(my_list)

3

In [32]:
my_list = ['one' , 'Two', 'Three']

In [34]:
my_list[0]

'one'

In [35]:
my_list[1:]

['Two', 'Three']

In [37]:
another_list = ['four','five','six']

In [38]:
my_list + another_list

['one', 'Two', 'Three', 'four', 'five', 'six']

In [39]:
new_list = my_list + another_list

In [40]:
new_list

['one', 'Two', 'Three', 'four', 'five', 'six']

In [41]:
new_list

['one', 'Two', 'Three', 'four', 'five', 'six']

In [42]:
new_list[0] = 'ONE ALL CAPS'

In [43]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six']

In [61]:
new_list.append('seven') # adding items to the existing thing

In [60]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six', 'six', 'seven']

In [62]:
new_list.pop()

'seven'

In [75]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four']

In [64]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six', 'six', 'seven']

In [65]:
new_list.pop(5)

'six'

In [66]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six', 'seven']

In [67]:
new_list.pop()

'seven'

In [68]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four', 'five', 'six']

In [69]:
popped_item = new_list.pop()

In [70]:
popped_item

'six'

In [71]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four', 'five']

In [72]:
popped_item

'six'

In [73]:
new_list.pop()

'five'

In [74]:
new_list

['ONE ALL CAPS', 'Two', 'Three', 'four']

In [76]:
new_list = ['a', 'e' ,'x','b','c']
num_list = [4,1,8,3]

In [77]:
new_list.sort()

In [78]:
new_list

['a', 'b', 'c', 'e', 'x']

In [79]:
num_list

[4, 1, 8, 3]

In [80]:
num_list.sort()

In [81]:
num_list

[1, 3, 4, 8]

In [82]:
num_list.reverse()

In [83]:
num_list

[8, 4, 3, 1]

Dictionaries in Python

In [84]:
my_dict = {'key':'value1', 'key2':'value2'}

In [85]:
my_dict

{'key': 'value1', 'key2': 'value2'}

In [87]:
my_dict ['key']

'value1'

In [88]:
prices_lookups = {'apple' :2.99, 'oranges':1.99, 'milk' : 5.80}

In [90]:
prices_lookups['apple']

2.99

In [91]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insideKey':100}}

In [92]:
d['k2']

[0, 1, 2]

In [94]:
d['k3']['insideKey']

100

In [95]:
d = { 'key1':['a','b','c']}

In [96]:
d

{'key1': ['a', 'b', 'c']}

In [97]:
my_list = d['key1']

In [98]:
my_list

['a', 'b', 'c']

In [99]:
last_letter = my_list[2]

In [100]:
last_letter

'c'

In [101]:
last_letter.upper()

'C'

In [103]:
d['key1'][2].upper()

'C'

In [104]:
d= {'k1':100, 'K2' :200}

In [105]:
d

{'k1': 100, 'K2': 200}

In [106]:
d['k3'] = 300

In [107]:
d

{'k1': 100, 'K2': 200, 'k3': 300}

In [108]:
d['k1'] ='NEW VALUE'

In [109]:
d

{'k1': 'NEW VALUE', 'K2': 200, 'k3': 300}

In [110]:
d=  {'k1': 100, 'K2': 200, 'k3': 300}

In [111]:
d.keys()

dict_keys(['k1', 'K2', 'k3'])

In [112]:
d.values()

dict_values([100, 200, 300])

In [113]:
d.items()

dict_items([('k1', 100), ('K2', 200), ('k3', 300)])